@using System.Web.UI.WebControls
@model IEnumerable<UVM.Theatre.Domain.Models.Show>

@{
  ViewBag.Title = "title";
}

<h2>Archives</h2>
@{
  int n = 0;
}
<ul id="archives">
@while (n++ < 6)
{
  
     foreach (var show in @Model)
     {
       <li class="archive">
           <a href='@($"/Theatre/ArhivedShow/{@show.ShowId}")'><img class="border" src="@show.Image"/></a>
         
       </li>
     }
}
</ul>