@model IEnumerable<UVM.Theatre.Domain.Models.Show>

@{
  ViewBag.Title = "Arhives";
  var n = 0;
}

<ul id="archives">
@foreach (var show in @Model)
     {
       <li class="archive">
           <a href='@($"/Theatre/ArhivedShow/{@show.ShowId}")'><img alt="@show.Title" class="border" src='@($"./../../Content/Images/Shows/Poster/{@show.Image}")'/></a>
         
       </li>
     }

</ul>