
@{
    ViewBag.Title = "index";
}

<section>
    <ul class="slider">
        <li><img src="http://nagel.w3.uvm.edu/theatre/imgs/slider/red.png" /></li>
        <li><img src="http://nagel.w3.uvm.edu/theatre/imgs/slider/black.png" /></li>
        <li><img src="http://nagel.w3.uvm.edu/theatre/imgs/slider/green.png" /></li>
        <li><img src="http://nagel.w3.uvm.edu/theatre/imgs/slider/teal.png" /></li>
    </ul>

    <ol class="mini border">
        <li><img class="img" src="http://nagel.w3.uvm.edu/theatre/imgs/miniIndex.png"></li>
        <li><img class="img" src="http://nagel.w3.uvm.edu/theatre/imgs/miniIndex.png"></li>
        <li><img class="img" src="http://nagel.w3.uvm.edu/theatre/imgs/miniIndex.png"></li>
        <li><img class="img" src="http://nagel.w3.uvm.edu/theatre/imgs/miniIndex.png"></li>
    </ol>
</section>
<script>
  $(document).ready(function () {
    $('.slider').bxSlider();
  });
</script>