@model IEnumerable<UVM.Theatre.Domain.Models.Banner>
@{
    ViewBag.Title = "Home";
}
<section>
    <ul class="slider">

        @foreach (var banner in @Model)
        {
            <li><img src='@($"./../../Content/Images/Banner/{banner.Url}")' alt="@banner.Id"></li>
        }
    </ul>
    

    <ol class="mini border">
        <li><img class="img" src="http://nagel.w3.uvm.edu/theatre/imgs/miniIndex.png"></li>
        <li><img class="img" src="http://nagel.w3.uvm.edu/theatre/imgs/miniIndex.png"></li>
        <li><img class="img" src="http://nagel.w3.uvm.edu/theatre/imgs/miniIndex.png"></li>
        <li><img class="img" src="http://nagel.w3.uvm.edu/theatre/imgs/miniIndex.png"></li>
    </ol>
</section>
<script>
    $(document).ready(function () {
        $('.slider').bxSlider();
    });
</script>
