
@{
    ViewBag.Title = "Home";
}

<section>
    <ul class="slider">
        <li><img src="../../Content/Images/Banner/150929_UVM_39steps__0604.jpg" /></li>
        <li><img src="../../Content/Images/Banner/150929_UVM_39steps__8378.jpg"/></li>
        <li><img src="../../Content/Images/Banner/150929_UVM_39steps__8852.jpg"/></li>
        <li><img src="../../Content/Images/Banner/151103_UVM_MaratSade_Cam2_0789insta.jpg"/></li>
        <li><img src="../../Content/Images/Banner/151115_UVM_MaratSade_3050.jpg"/></li>
        <li><img src="../../Content/Images/Banner/151115_UVM_MaratSade_3320.jpg"/></li>
        <li><img src="../../Content/Images/Banner/160222_UVM_NoisesOff_0058.jpg"/></li>
        <li><img src="../../Content/Images/Banner/160222_UVM_NoisesOff_2040.jpg"/></li>
        <li><img src="../../Content/Images/Banner/160222_UVM_NoisesOff_0572.jpg"/></li>
    </ul>

    <ol class="mini border">
        <li><img class="img" src="http://nagel.w3.uvm.edu/theatre/imgs/miniIndex.png"></li>
        <li><img class="img" src="http://nagel.w3.uvm.edu/theatre/imgs/miniIndex.png"></li>
        <li><img class="img" src="http://nagel.w3.uvm.edu/theatre/imgs/miniIndex.png"></li>
        <li><img class="img" src="http://nagel.w3.uvm.edu/theatre/imgs/miniIndex.png"></li>
    </ol>
</section>
<script>
  $(document).ready(function () {
    $('.slider').bxSlider();
  });
</script>